/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
*{
  margin: 0;
}
.montserrat-font {
  /* font-family: "Montserrat", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #1b3e93
}
.shadow{
  box-shadow: 1px 1px 15px rgb(125, 218, 255);
}